body {
    background-color:#9dce9d;
    font-family: 'Tahoma','sans-serif';
    color: #2a3444;

    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 96vh;
}
.header-logo img {
    max-width: 100px;

}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: auto;
    padding: 0 10px;
}
main {
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #367588;
    padding: 0;
}
section {
    margin: auto;
    position: relative;
    background-image: url("../images/formBack.svg");
    background-position: left;
    background-repeat: no-repeat;
    padding: 80px;
    height: 100%;


}
.register {
    background-image: url("../images/formBackRegister.svg");
}
.profil {
    background-image: url("../images/formBackProfil.svg");
}
.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 10px;
    align-items: center;

}
.gridProfil {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}
a {
    color: white;
    text-decoration: underline;
    padding: 3px;
}
.header-nav a:hover {
    background-color: #62b7ec;
    border-radius: 10px;
    text-decoration: none;
}

footer {
    display:flex;
    align-items: center;
}
form {
    background-color: rgba(157, 206, 157, 0.3);
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
}
input[type="text"], input[type="password"] {
    height: 20px;
}
.error {
    color: #a40303;
    font-weight: bold;
}