{% extends 'base.html.twig' %}

{% block title %}Nouvelle sortie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle sortie</h1>

    <div class="container">
        <section class="profil">

            <div class="gridProfil">
                <div class="gridContainer">

                </div>
            </div>
        </section>
    </div>
{% endblock %}
