{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rien à voir ici...</h1>
    <div class="container">
        <p>
            La page demandée n'existe pas !
           <a href="{{ path('main_home') }}">Retourner à l'accueil</a>.
        </p>
    </div>
{% endblock %}